body {
  background-color: #12306a;
  font-family: 'Aptos', Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  color: #333333;
}

h1 {
  color: #f6f6f6;
  font-size: 250%;
}

h2 {
  color: #4d64c0;
  font-size: 200%;
}

h4{
  color: #5880cf;
}

p {
  color: #2a2a2a;
  font-size: 100%;
  line-height: 1.6;
}

a {
  color: #336699;
  text-decoration: underline;
}

section {
  background-color: #ffffff;
  border: 4px solid #7d8fb2;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
